NEXT_PUBLIC_SUPABASE_URL="https://jwkjqowuponrqmxwhgsj.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp3a2pxb3d1cG9ucnFteHdoZ3NqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzExNzcxMTQsImV4cCI6MjA4Njc1MzExNH0.lkVrhdwCN321rZk_s5DtUMlrxSMf8ilAU5gPce7emBg"
NEXT_PUBLIC_API_URL="http://localhost:8000"
NEXT_PUBLIC_AI_SERVICE_URL="http://localhost:8000"
